<div class="blog-masthead">
  <div class="container">
    <nav class="blog-nav">
      <a class="blog-nav-item" href="#index">Home</a>
      <a class="blog-nav-item" href="#create">Create</a>
    </nav>
  </div>
</div>
